@import 'mediawiki.mixins';
@import 'mediawiki.mixins.animation';

.mw-graph {
	display: inline-block;
	position: relative;
	background-image: url( ../includes/ajax-loader.gif );
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	opacity: 0;
	.animation( spinnerDelay 0.5s ease-out 0.5s forwards ) ;

	canvas {
		display: inline-block;
		vertical-align: middle;
		background: #fff;
	}
}

@keyframes spinnerDelay {
	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.client-nojs {
	.mw-graph {
		background-image: unset;
	}

	.mw-graph-nofallback {
		display: none;
	}
}
