/* stylelint-disable selector-no-id */

#mw-graph-right .top_panel {
	overflow: hidden;
}

#mw-graph-log,
#mw-graph-json {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
